@import "../styles/colors";

.container-header {
  border: 1px solid $filter-purple;
  .bank-client {
    color: $purple;
    font-family: Roboto;
    font-size: 21px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin: 18px 0 18px 20px;
    text-align: left;
  }
}
